.clients{
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }


    &__title{
        color: $team-heading-color;
        text-align: center;
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.84px;
        margin-bottom: 30px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      letter-spacing: 1.08px;
    }
    }

    &__list{
        display: flex;
        flex-wrap: wrap;
        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
            gap: 26px;
    }
        @media screen and (min-width: 768px) {
                 justify-content: space-between;
    }

    }

    &__item{
        padding: 16px 20px;
        border-radius: 4px;
        border: 1px solid $social-color;
        transition-property: border;
        // transition-duration: 300ms;
        // transition-timing-function: cubic-bezier(1,0.45,0,1.15);
        @extend %animation;
        @media screen and (min-width: 480px) {
            padding: 16px 52px;
        }
        @media screen and (min-width: 768px) {
            padding: 16px 60px;
            margin-bottom: 30px;
        }
        @media screen and (min-width: 1200px) {
            padding: 16px 32px;
            margin-bottom: 0;
        }
        &:hover{
            border: 1px solid $logo-color;
            .clients__icon{
                width: 106px;
                height: 60px;
                fill: $logo-color;
            }
        }
    } 

    &__icon{
        width: 106px;
        height: 60px;
        fill: $social-color;
        transition-property: fill;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(1,0.45,0,1.15);
    }
}