.features{
    padding-top: 94px;
    padding-bottom: 94px;

    &__list{
        display: flex;
        gap: 30px;
    }

    &__item:first-child:before{
        content: "";
        display: block;
        width: 270px;
        height: 120px;
        background-color: $team-bcg;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image:url(../indeximages/antenna.png);
        @extend %background;
        background-size: 70px;
    }

    &__item:nth-child(2):before{
        content: "";
        display: block;
        width: 270px;
        height: 120px;
        background-color: $team-bcg;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image:url(../indeximages/clock.png);
        @extend %background;
        background-size: 70px;
    }
    
    &__item:nth-child(3):before{
        content: "";
        display: block;
        width: 270px;
        height: 120px;
        background-color: $team-bcg;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image:url(../indeximages/diagram.png);
        @extend %background;
        background-size: 70px;
    }
    
    &__item:nth-child(4):before{
        content: "";
        display: block;
        width: 270px;
        height: 120px;
        background-color: $team-bcg;
        border-radius: 4px;
        margin-bottom: 30px;
        background-image:url(../indeximages/astronaut.png);
        @extend %background;
        background-size: 70px;
    }

    &__subtitle{
        color:$title-color;   
        width: 270px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
    }

    &__text{
        color: $accent-color;
        width: 270px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    }
}
