.footer{
    background: var(--footer-bcg);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content:space-between;
}

.footer-wrap{
    display: flex;
    align-items: baseline;
}

.footer-text{
    width: 231px;
}

.footer-logo{
    color: var(--logo-color);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-logo2{
    color: var(--text-color);
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}

.footer-address{
    font-style: normal;
}

.footer-list{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    row-gap: 9px;
}

.address-map{
    color: var(--text-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
width: 231px;
}

.footer-contact{
    margin-top: 20px;
    color: var(--email-tel-footer-color);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
width: 231px;
}

.footer-join{
    margin-left: 70px;
}

.footer-heading{
    color: var(--text-color);
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-items{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.footer-elem{
    width: 44px;
    height: 44px;
    background-color:rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1,.45,0,1.15);
}

.footer-elem:hover{
    background-color:var(--logo-color);
}

.footer-icon{
    width: 20px;
    height: 20px;
    fill: var(--text-color);
}

.footer-wrap{
    display: flex;
    justify-content: flex-end;
}

.footer-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-end;
    margin-left: 93px;
}

.footer-subbox{
    display: flex;
    align-items:end;
}

.footer-title{
    color: var(--text-color);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
}

.footer-input{
    border-radius: 4px;
    width: 358px;
height: 50px;
border: 1px solid var(--border-color);
background: var(--footer-bcg);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
margin-top: 20px;
}

.footer-btn{
    color: var(--text-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--logo-color);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
border: none;
margin-left: 12px;
}

.footer-plane{
    width: 24px;
height: 24px;
fill: var(--text-color);
}