.footer{
    background:$footer-bcg;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    justify-content:space-between;
    justify-content: center;

    &__wrap{
        display: flex;
        align-items: baseline;


    }

    &__text{
        width: 231px;
        @media screen and (min-width: 1200px) {
            text-align: start;
    }
    }

    &__logo{
        color:$logo-color;
        font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.72px;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
    }

    &__logo2{
        color:$text-color;
        font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    }

    &__address{
        font-style: normal;
    }

    &__list{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        row-gap: 9px;
    }

    &__map{
        color:$text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    width: 231px;
    }

    &__contact{
        margin-top: 20px;
        color:$email-tel-footer-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    width: 231px;
    }

    &__join{
      margin-top: 60px;
      margin-left: 137px;
      margin-right: 137px;
    @media screen and (min-width: 768px) {
        margin-left: 165px;
      margin-right: 0;
    }
        @media screen and (min-width: 1200px) {
      margin-left: 70px;
      margin-right: 0;
      margin-top: 0;
    }
    }

    &__heading{
        color:$text-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
    @media screen and (min-width: 1200px) {
            text-align: start;
    }
    }

    &__items{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    &__elem{
        width: 44px;
        height: 44px;
        background-color:$footer-elem-bcg;
        border-radius: 50%;
        @include flex-box($wrap:no-wrap);
        // display: flex;
        // justify-content: center;
        // align-items: center;
        transition-property: background-color;
        @extend %animation;

        &:hover{
            background-color:$logo-color;
        }
    }

    &__icon{
        width: 20px;
        height: 20px;
        fill: $text-color;
    }

    &__wrap{
        display: flex;
        flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    @media screen and (min-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
        justify-content: flex-end;
    }
    }
    
    &__form{
        // @include flex-box($justify:flex-end,$align:start);
        display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-top: 60px;
    @media screen and (min-width: 768px) {
      margin-left: 0;
      display: flex;
  flex-direction: column;
  align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: flex-end;
        margin-top: 0;
        margin-left: 93px;
    }
    }

    &__subbox{
        display: flex;
        flex-direction: column;
      align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;

    }
    }

    &__title{
        color: $text-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    }

    &__input{
        border-radius: 4px;
        width: 100%;
    height: 50px;
    border: none;
    outline: 1px solid $border2-color;
    background: $footer-bcg;
    box-shadow: 0px 4px 4px 0px $footer-input-shadow;
    margin-top: 20px;
    margin-bottom: 20px;
    @media screen and (min-width: 480px) {
      width: 450px;

    }
    @media screen and (min-width: 1200px) {
      width: 358px;

    }

    }

    &__btn{
        color: $text-color;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $logo-color;
    box-shadow: 0px 4px 4px 0px $footer-input-shadow;
    width: 200px;
    height: 50px;
    border: none;
    margin-left: 12px;
    }

    &__plane{
        width: 24px;
    height: 24px;
    fill: $text-color;
    }
}





