.header {
  padding: 10px 0;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 760px) {
    padding-top: 21px 0;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px 0;
  }

  &__box {
    display: flex;
    align-items: center;
  }

  &__index {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.72px;
    color: $logo-color;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }

  &__index2 {
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    color: $title-color;
    @media screen and (min-width: 1200px) {
      font-size: 26px;
      letter-spacing: 0.78px;
    }
  }

  &__list {
    display: flex;
    gap: 50px;
    @media screen and (min-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin-left: 88px;
      display: flex;
    gap: 50px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      row-gap: 50px;
      margin-left: 93px;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    color: $title-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    @extend %animation;

    &:hover {
      color: $logo-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
    }

    &::after {
      content: "";
      display: block;
      border-radius: 2px;
      background: $logo-color;
      width: 100%;
      height: 4px;
      position: absolute;
      left: 0;
      bottom: -34px;
      opacity: 0;
      transition-property: opacity;
      @extend %animation;
    }

    &:hover::after {
      display: block;
      opacity: 1;
      /* visibility: visible; */
    }
  }

  &__items {
    display: flex;
    gap: 30px;
    margin-left: auto;
    @media screen and (min-width: 480px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-direction: row;
      gap: 30px;
      margin-left: auto;
    }
  }

  &__contact {
    color: $accent-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    transition-property: color;
    @extend %animation;
    @media screen and (min-width: 768px) {
      font-size: 12px;
      letter-spacing: 0.24px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      letter-spacing: 0.28px;
    }

    &:hover {
      color: $logo-color;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.28px;
      .header__mail {
        fill: $logo-color;
      }
      .header__phone {
        fill: $logo-color;
      }
    }
  }

  &__mail {
    fill: $accent-color;
    width: 16px;
    height: 12px;
    margin-right: 10px;
    transition-property: fill;
    @extend %animation;

    @media screen and (min-width: 768px) {
      width: 14px;
      height: 10px;
    }
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
  }

  &__phone {
    fill: $accent-color;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    transition-property: fill;
    @extend %animation;

    @media screen and (min-width: 768px) {
      width: 10px;
      height: 14px;
    }
    @media screen and (min-width: 1200px) {
      width: 10px;
      height: 16px;
    }
  }
}
