.hero{
    background:$hero-section-bcg-color;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../indeximages/herobcg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;

    &__title{
        color: $text-color;
        text-align: center;
        width: 696px;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36; /* 136.364% */
        letter-spacing: 2.64px;
        text-transform: uppercase;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }

    &__btn{
        color: $bcg-color;
        background-color: $logo-color;
        position: relative; 
        border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px; 
    padding: 10px 32px 10px 32px; 
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    animation-name: scale;
    animation-duration: 1000ms;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
    animation-direction: alternate;
    }

    @keyframes scale{
        0%{
            transform: scale(0.5);
        }
        50%{
            transform: scale(1);
        }
        100%{
            transform: scale(1.5);
        }
    }
}
