/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  transform: scale(1);

  .is-hidden .modal {
    transform: scale(0);
  }

  &__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__close:hover,
  &__close:focus {
    .modal__icon {
      fill: #2196f3;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: var(--title-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-property: fill;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
  }

  &__title {
    color: #212121;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
  }

  &__label {
    color: #757575;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: relative;
  }

  &__icons {
    width: 18px;
    height: 18px;
    fill: var(--team-heading-color);
    position: absolute;
    top: 32px;
    left: 12px;
    transition-property: fill;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition-property: outline;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);

    &:hover,
    &:focus {
      border: none;
      outline: 1px solid #2196f3;
    }
  }

  &__input:hover + &__icons,
  &__input:focus + &__icons {
    fill: #2196f3;
  }

  &__comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding: 12px 16px;
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-top: 4px;
    transition-property: border;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
  }

  &__comment:hover,
&__comment:focus {
  border: none;
  border: 1px solid $logo-color;
}

&__comment:hover,
&__comment:focus {
  color: $logo-color;
}

&__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

&__text {
    color: #757575;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
    margin-left: 9px;
    margin-right: 4px;
  }

&__link {
    color: #2196f3;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

&__box {
    display: flex;
    justify-content: center;
  }

&__btn {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--logo-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    padding: 10px 52px;
    margin-top: 30px;
  }
}