/* Modal Window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $backdrop-bcg;
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
}

.is-hidden > .modal {
  transform: scale(0);
}

.modal {
  border-radius: 4px;
  background: $modal-bcg;
  box-shadow: 0px 1px 3px 0px $modal-shadow1,
    0px 1px 1px 0px $modal-shadow2, 0px 2px 1px 0px $modal-shadow3;
  position: relative;
  padding: 40px;
  transition-property: transform;
  @extend %animation;
  transform: scale(1);
  @media screen and (min-width: 450px) {
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 528px;
    }

  &__close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $modal-cross-color;
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
  }

  &__close:hover,
  &__close:focus {
    .modal__icon {
      fill: $logo-color;
    }
  }

  &__icon {
    width: 18px;
    height: 18px;
    fill: $title-color;
    @include flex-box();
    // display: flex;
    // justify-content: center;
    // align-items: center;
    transition-property: fill;
    @extend %animation;
    
  }

  &__title {
    color: $title-color;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 12px;
    @media screen and (min-width: 480px) {
    width: 370px;
    }
    @media screen and (min-width: 1200px) {
      width: 447px;
    }
  }

  &__label {
    color: $accent-color;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    position: relative;
  }

  &__icons {
    width: 18px;
    height: 18px;
    fill: $team-heading-color;
    position: absolute;
    top: 32px;
    left: 12px;
    transition-property: fill;
    @extend %animation;
  }

  &__input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid $modal-border;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    transition-property: outline;
    @extend %animation;

    &:hover,
    &:focus {
      border: none;
      outline: 1px solid $logo-color;
    }
  }

  &__input:hover + &__icons,
  &__input:focus + &__icons {
    fill: $logo-color;
  }

  &__comment {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid $modal-border;
    resize: none;
    padding: 12px 16px;
    color: $modal-comment-border;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
    margin-top: 4px;
    transition-property: border;
    @extend %animation;
  }

  &__comment:hover,
&__comment:focus {
  border: none;
  border: 1px solid $logo-color;
}

&__comment:hover,
&__comment:focus {
  color: $logo-color;
}

&__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

&__text {
    color: $accent-color;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.36px;
    margin-left: 8px;
    margin-right: 4px;
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      letter-spacing: 0.42px;
      margin-left: 9px;
    }
  }

&__link {
    color: $logo-color;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    @media screen and (min-width: 480px) {
    font-size: 12px;
    letter-spacing: 0.36px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      letter-spacing: 0.42px;
    }
  }

&__box {
    display: flex;
    justify-content: center;
  }

&__btn {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87; /* 187.5% */
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $logo-color;
    box-shadow: 0px 4px 4px 0px $footer-input-shadow;
    border: none;
    padding: 10px 52px;
    margin-top: 30px;
  }
}