.gallery{
    padding-top: 94px;
    padding-bottom: 94px;

    &__items{
        display: flex;
        gap: 8px;;
        justify-content: center;
    }

    &__btn{
        color:$title-color;
        background-color: $bcg-color;
        position: relative; 
        font-family: Roboto;
        font-size: 16px;
        font-style: normal; 
        font-weight: 500;
        line-height: 1.62; /* 162.5% */
        letter-spacing: 0.48px;
        border-radius: 4px;
        border: none;
        background: $bcg-color;
        width: 125px;
        height: 38px;
        flex-shrink: 0;
        padding: 6px 22px;
        transition-property: color,background-color,box-shadow;
        @extend %animation;

        &:hover{
            color: $bcg-color;
            background-color: $logo-color;
            box-shadow: 0px 3px 1px 0px $portfolio-shadow5, 0px 1px 2px 0px $portfolio-shadow5, 0px 2px 2px 0px $portfolio-shadow1;
        }
    }

    &__list{
        display: flex;
        flex-wrap:wrap;
        justify-content: center;
        margin-top: 50px;
        gap: 30px;
    }

    &__item{
        border: 1px solid $border-color;
        background: $text-color;
        flex-basis: calc((100% - 60px) /3);
        transition-property: box-shadow;
        @extend %animation;

        &:hover{
            border: 1px solid $border-color;
            background: $text-color;
            flex-basis: calc((100% - 60px) /3);
            box-shadow: 0px 1px 1px 0px $portfolio-shadow1, 0px 4px 4px 0px $portfolio-shadow2, 1px 4px 6px 0px $portfolio-shadow3;
            position: relative;
            .gallery__subtext{
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &__image{
        width: 100%;
    height: 294px;
    }

    &__wrap{
        position: relative;
        overflow: hidden;
    }

    &__subtext{
        color: $text-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55; /* 155.556% */
    letter-spacing: 0.54px;
    position: absolute;
    top: 0;
    right:0;
    padding: 50px;
    background-color: $gallery-back-color;
    z-index: 1;
    opacity: 0;
    padding: 63px 24px;
    transition-property: opacity,transform;
    @extend %animation;
        transform: translateY(100%);
    }

    &__text{
        padding: 20px 24px;
    }

    &__name{
        color: $title-color;
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 2; /* 200% */
        letter-spacing: 1.08px;
    }

    &__description{
        color: $accent-color;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.87; /* 187.5% */
        letter-spacing: 0.48px;
    }
}