.team{
    background: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;

    &__list{
        display: flex;
        gap: 30px;
        @media screen and (min-width: 480px) {
            display: flex;
            flex-wrap: wrap;
    }
    }

    &__item{
        background-color: $team-item-bcg;
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    @media screen and (min-width: 768px) {
     flex-basis: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
     flex-basis: calc((100% - 90px) / 4);
    }
    }

    &__card{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__heading{
        color: $team-heading-color;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__name{
        color: $team-heading-color;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.18;
        letter-spacing: 0.48px;
    
    }

    &__description{
        color: $accent-color;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.18;
        letter-spacing: 0.48px;
        margin-top: 10px;
    }

    &__items{
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 16px;
    }

    &__social{
        width: 44px;
        height: 44px;
        border-radius: 50%;
        @include flex-box();
        transition-property: background-color;
        @extend %animation;

        &:hover{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background-color:$logo-color;
            @include flex-box();
            // display: flex;
            // align-items: center;
            // justify-content: center;
            .team__icon{
                fill: $text-color;
            }
        }
    }
    &__icon{
        width: 20px;
        height: 20px;
        fill: $social-color;
        transition-property: fill;
        @extend %animation;

        &:hover{
            width: 20px;
            height: 20px;
            fill: $text-color;
        }
    }
}

