.work{
    padding-bottom: 94px;
    display: none;
@media screen and (min-width: 480px) {
    display: none;
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: block;
    }
    &__title{
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        text-align: center;
        margin-bottom: 50px;
        }

    &__list{
    display: flex;
    gap: 30px;
    }

    &__item{
        position: relative;
    }

    &__subtitle{
        color: $text-color;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
    height: 70px;
    @include flex-box();
    // display: flex;
    // justify-content: center;
    // align-items: center;
    position: absolute;
    bottom: 0;
    }
}

