a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
}

h1, h2, h3, p {
  margin: 0;
}

:root {
  --accent-color:#757575 ;
  --title-color:#000;
  --logo-color:#2196F3;
  --bcg-color:rgba(245, 244, 250, 1);
  --footer-bcg-color:rgba(47, 48, 58, 1);
  --email-tel-footer-color:rgba(255, 255, 255, 0.6);
  --tel-header-color:rgba(117, 117, 117, 1);
  --header-hover-color:rgba(33, 150, 243, 1);
  --hero-section-bcg-color:rgba(47, 48, 58, 1);
  --footer-bcg:#2F303A;
  --text-color:#FFF;
  --border-color: #eee;
  --social-color:#AFB1B8;
  --border2-color:rgba(255, 255, 255, 0.30);
  --gallery-back-color:rgba(33, 150, 243, 0.90);
  --header-border:#ECECEC;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid blue;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-box {
  display: flex;
  align-items: center;
}

.header-index {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  color: var(--logo-color);
}

.header-index2 {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  color: var(--title-color);
}

.header-list {
  display: flex;
  gap: 50px;
  margin-left: 93px;
}

.header-items {
  display: flex;
  gap: 30px;
  margin-left: auto;
}

.header-item {
  position: relative;
}

.header-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.header-link::after {
  content: "";
  display: block;
  border-radius: 2px;
  background: var(--logo-color);
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -34px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.header-link:hover {
  color: var(--logo-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-link:hover::after {
  display: block;
  opacity: 1;
  /* visibility: visible; */
}

.header-contact {
  color: var(--accent-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.header-contact:hover {
  color: var(--logo-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.header-contact:hover .header-mail {
  fill: var(--logo-color);
}
.header-contact:hover .header-phone {
  fill: var(--logo-color);
}

.header-mail {
  fill: var(--accent-color);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.header-phone {
  fill: var(--accent-color);
  width: 10px;
  height: 16px;
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.hero {
  background: var(--hero-section-bcg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../indeximages/herobcg.jpg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  color: var(--text-color);
  text-align: center;
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.hero-btn {
  color: var(--bcg-color);
  background-color: var(--logo-color);
  position: relative;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  padding: 10px 32px 10px 32px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  animation-name: scale;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes scale {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  gap: 30px;
}

.features-item:first-child:before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--team-bcg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../indeximages/antenna.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.features-item:nth-child(2):before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--team-bcg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../indeximages/clock.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.features-item:nth-child(3):before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--team-bcg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../indeximages/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.features-item:nth-child(4):before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: var(--team-bcg);
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../indeximages/astronaut.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px;
}

.features-subtitle {
  color: var(--title-color);
  width: 270px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  color: var(--accent-color);
  width: 270px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.work {
  padding-bottom: 94px;
}

.work-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  gap: 30px;
}

.work-item {
  position: relative;
}

.work-subtitle {
  color: #FFF;
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
  background-color: #FFF;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-heading {
  color: var(--team-heading-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  text-align: center;
  margin-bottom: 50px;
}

.team-name {
  color: var(--team-heading-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.team-description {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.team-items {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-social {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.team-social:hover {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--logo-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-social:hover .team-icon {
  fill: var(--text-color);
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-color);
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.team-icon:hover {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: var(--team-heading-color);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

.clients-item {
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid var(--social-color);
  transition-property: border;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.clients-item:hover {
  border: 1px solid var(--logo-color);
}
.clients-item:hover .clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--logo-color);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--social-color);
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.footer {
  background: var(--footer-bcg);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: space-between;
}

.footer-wrap {
  display: flex;
  align-items: baseline;
}

.footer-text {
  width: 231px;
}

.footer-logo {
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-logo2 {
  color: var(--text-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-address {
  font-style: normal;
}

.footer-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  row-gap: 9px;
}

.address-map {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  width: 231px;
}

.footer-contact {
  margin-top: 20px;
  color: var(--email-tel-footer-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  width: 231px;
}

.footer-join {
  margin-left: 70px;
}

.footer-heading {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-items {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.footer-elem {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.footer-elem:hover {
  background-color: var(--logo-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.footer-wrap {
  display: flex;
  justify-content: flex-end;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-end;
  margin-left: 93px;
}

.footer-subbox {
  display: flex;
  align-items: end;
}

.footer-title {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer-input {
  border-radius: 4px;
  width: 358px;
  height: 50px;
  border: 1px solid var(--border-color);
  background: var(--footer-bcg);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-top: 20px;
}

.footer-btn {
  color: var(--text-color);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border: none;
  margin-left: 12px;
}

.footer-plane {
  width: 24px;
  height: 24px;
  fill: var(--text-color);
}

/* Modal Window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 528px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in;
  transform: scale(1);
}

.is-hidden .modal {
  transform: scale(0);
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close:hover .modal-icon,
.modal-close:focus .modal-icon {
  fill: #2196F3;
}

.modal-icon {
  width: 18px;
  height: 18px;
  fill: var(--title-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-label {
  color: #757575;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
}

.modal-icons {
  width: 18px;
  height: 18px;
  fill: var(--team-heading-color);
  position: absolute;
  top: 32px;
  left: 12px;
  transition-property: fill;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding-left: 42px;
  transition-property: outline;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.modal-input:hover,
.modal-input:focus {
  border: none;
  outline: 1px solid #2196F3;
}

.modal-input:hover + .modal-icons,
.modal-input:focus + .modal-icons {
  fill: #2196F3;
}

.modal-comment {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-top: 4px;
  transition-property: border;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.modal-comment:hover,
.modal-comment:focus {
  border: none;
  border: 1px solid #2196F3;
}

.modal-comment:hover,
.modal-comment:focus {
  color: #2196F3;
}

.modal-checkbox {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-text {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
  margin-left: 9px;
  margin-right: 4px;
}

.modal-link {
  color: #2196F3;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.modal-box {
  display: flex;
  justify-content: center;
}

.modal-btn {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: var(--logo-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  padding: 10px 52px;
  margin-top: 30px;
}

.pages-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.pages-btn {
  color: var(--title-color);
  background-color: var(--bcg-color);
  position: relative;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  border: none;
  background: var(--bcg-color);
  width: 125px;
  height: 38px;
  flex-shrink: 0;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.pages-btn:hover {
  color: var(--bcg-color);
  background-color: var(--logo-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.gallery {
  padding-top: 94px;
  padding-bottom: 94px;
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  gap: 30px;
}

.gallery-item {
  outline: 1px solid var(--border-color);
  background: var(--text-color);
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
}

.gallery-item:hover {
  border: 1px solid var(--border-color);
  background: var(--text-color);
  flex-basis: calc((100% - 60px) / 3);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
  position: relative;
}

.gallery-image {
  width: 100%;
  height: 294px;
}

.gallery-item:hover .gallery-subtext {
  opacity: 1;
  transform: translateY(0);
}

.gallery-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-subtext {
  color: var(--text-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.54px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 50px;
  background-color: var(--gallery-back-color);
  z-index: 1;
  opacity: 0;
  padding: 63px 24px;
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(1, 0.45, 0, 1.15);
  transform: translateY(100%);
}

.gallery-text {
  padding: 20px 24px;
}

.gallery-name {
  color: var(--title-color);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
}

.gallery-description {
  color: var(--accent-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */