    $accent-color:#757575 ;
    $title-color:#000;
    $logo-color:#2196F3;
    $bcg-color:rgba(245, 244, 250, 1);
    $footer-bcg-color:rgba(47, 48, 58, 1);
    $email-tel-footer-color:rgba(255, 255, 255, 0.6);
    $tel-header-color:rgba(117, 117, 117, 1);
    $header-hover-color:rgba(33, 150, 243, 1);
    $hero-section-bcg-color:rgba(47, 48, 58, 1);
    $footer-bcg:#2F303A;
    $footer-elem-bcg:rgba(255, 255, 255, 0.10);
    $footer-input-shadow:rgba(0, 0, 0, 0.15);
    $modal-border:rgba(33, 33, 33, 0.2);
    $modal-comment-border:rgba(117, 117, 117, 0.5);
    $modal-cross-color:rgba(0, 0, 0, 0.1);
    $modal-shadow1:rgba(0, 0, 0, 0.12);
    $modal-shadow2:rgba(0, 0, 0, 0.14);
    $modal-shadow3:rgba(0, 0, 0, 0.2);
    $modal-bcg:#FFF;
    $backdrop-bcg:rgba(0, 0, 0, 0.5);
    $text-color:#FFF;
    $team-heading-color:#212121;
    $team-bcg:#F5F4FA;
    $team-item-bcg:#FFF;
    $border-color: #EEE;
    $social-color:#AFB1B8;
    $border2-color:rgba(255, 255, 255, 0.30);
    $gallery-back-color:rgba(33, 150, 243, 0.90);
    $header-border:#ECECEC;
    $social-color:#AFB1B8;
    $border2-color:rgba(255, 255, 255, 0.30);
    $portfolio-shadow1:rgba(0, 0, 0, 0.12);
    $portfolio-shadow2:rgba(0, 0, 0, 0.06);
    $portfolio-shadow3:rgba(0, 0, 0, 0.16);
    $portfolio-shadow4:rgba(0, 0, 0, 0.08);
    $portfolio-shadow5:rgba(0, 0, 0, 0.10);
